.home-background {
  margin: 20px auto 0 auto;
  width: 1000px;

  .form-title {
    display: inline-block;
  }

  .title {
    width: 100%;
    font-size: 20px;
    border-bottom: solid 1px #888;
    padding-bottom: 10px;
    padding-left: 20px;
  }


}